name: "Test"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  test-on-linux-x64:
    name: Test wheel on linux x64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
      - name: Install dev dependencies
        run: poetry install

      - name: Build the wheel
        run: poetry run python src/make_wheels.py latest --platform=linux-x64

      - name: Install the wheel
        run: |
          pip install --no-index --find-links $(pwd)/dist/ pybun

      - name: Test installed wheel
        run: |
          python -m pybun --version

  test-on-darwin-darwin-aarch64:
    name: Test wheel on darwin aarch64
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
      - name: Install dev dependencies
        run: poetry install

      - name: Build the wheel
        run: poetry run python src/make_wheels.py latest --platform=darwin-aarch64

      - name: Install the wheel
        run: |
          pip install --no-index --find-links $(pwd)/dist/ pybun

      - name: Test installed wheel
        run: |
          python -m pybun --version
