[tools]
python = "3.14"
poetry = { version = "2", pyproject = "pyproject.toml" }

[env]
_.file = ".env"
_.python.venv = { path = ".venv", create = false }


[tasks.publish]
description = "Publish to PyPI"
run = "poetry run twine upload dist/*"
